.my-card[data-v-6ed0b95a]{transition:transform .3s;border-radius:8px}.my-card[data-v-6ed0b95a]:hover{transform:translateY(-5px);box-shadow:0 4px 15px #4e342e33}.bg-primary-transparent[data-v-6ed0b95a]{background-color:#4e342eb3}
