.my-card[data-v-b4494419]{transition:transform .3s;border-radius:8px}.my-card[data-v-b4494419]:hover{transform:translateY(-5px);box-shadow:0 4px 15px #4e342e33}.bg-primary-transparent[data-v-b4494419]{background-color:#4e342eb3}
