.my-card[data-v-52755cd9]{transition:transform .3s;border-radius:8px}.my-card[data-v-52755cd9]:hover{transform:translateY(-5px);box-shadow:0 4px 15px #4e342e33}.bg-primary-transparent[data-v-52755cd9]{background-color:#4e342eb3}
