// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// Palette "Cozy" : Marron, Beige, Noir

$primary   : #4E342E; // Marron foncé (Brown-900)
$secondary : #8D6E63; // Marron moyen (Brown-400)
$accent    : #D7CCC8; // Beige clair (Brown-100)

$dark      : #1D1D1D; // Noir doux
$dark-page : #121212; // Fond très sombre pour le mode sombre

$positive  : #558B2F; // Vert olive
$negative  : #C62828; // Rouge brique
$info      : #5D4037; // Marron informatif
$warning   : #FFB74D; // Orange doux

// Vous pouvez utiliser ces variables partout dans votre SCSS
